* text=auto eol=lf
*.sh text eol=lf
*.py text eol=lf
*.md text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.png binary
*.jpg binary
*.gif binary
*.mp4 binary
*.parquet binary
*.onnx binary
*.pt binary
*.svg text eol=lf
